<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:risk="">
<head>
    <title>超爱财权限服务</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css" />
	<script type="text/javascript"  th:src="@{/js/common.js}"></script>
	<script type="text/javascript"  th:src="@{/js/system.js}"></script>
</head>
<body>

<div>
	<div th:replace="~{common :: top}"></div>
	<div class="main clearfix">
		<div th:replace="~{common :: left}"></div>

		<div class="nav-right fr">
			<div class="userCheck mr30 clearfix">
				<form action="#" method="post" id="systemForm">
					<input type="hidden" name="status" value="00" />
					<p class="mr20 fl"><label><em style="color: red">*</em>&nbsp; 短名称：</label><input type="text" name="shortName" id="shortName" /></p>
					<p class="mr20 fl"><label><em style="color: red">*</em>&nbsp; 名称：</label><input type="text" name="name"/></p>
					<p class="mr20 fl"><label><em style="color: red">*</em>&nbsp; 地址：</label><input type="text" name="url" /></p>
					<p class="mr20 fl re-row describe"><label>描述：</label><textarea name="description"></textarea></p>

					<div class="form-group fl">
						<b risk:check="/ssoSystem/addCacSystem">
							<button type="button" class="btn btn-primary" id="sysSubmit" onclick="sysSubmitBtn(true)">提交</button>
						</b>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

</body>
</html>

