<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:risk="">
<head>
    <title>超爱财权限服务</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css" />
	<script type="text/javascript"  th:src="@{/js/common.js}"></script>
	<script type="text/javascript"  th:src="@{/js/userRole.js}"></script>
</head>
<body>

<div>
	<div th:replace="~{common :: top}"></div>
	<div class="main clearfix">
		<div th:replace="~{common :: left}"></div>

		<div class="nav-right fr">
			<!--分类-->
			<div class="mr30 clearfix">
				<p class="mr20 fl">用户名：<input type="text" id="userNameSearch" /></p>
				<!--<p class="mr20 fl">状态：<input type="text" /></p>-->
				<div class="mr20 fl">
					<p class="edit fl mr20" onclick="search()"><img class="mr5" src=".././images/search.png">查询</p>
					<b risk:check="/ssouser/gotoAdd">
						<a href="/ssouser/gotoAdd">
							<p class="addnew fl">
								<img class="mr5" src=".././images/addnew.png">新增
							</p>
						</a>
					</b>
				</div>
			</div>
			<table border="1">
				<tr>
					<td hidden="hidden">id</td>
					<td width="100">姓名</td>
					<td width="50">性别</td>
					<td width="100">邮箱</td>
					<td width="100">手机号</td>
					<td width="280">操作</td>
				</tr>
				<tr th:each="user:${page.list}">
					<td hidden="hidden" th:text="${user.id}"></td>
					<td th:text="${user.userName}"></td>
					<td th:text="${user.sex=='01'?'男':'女'}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.mobile}"></td>
					<td>
						<div class="buttons">
							<b risk:check="/ssouser/gotoUserRole">
								<a th:href="@{'/ssouser/gotoUserRole?userId='+${user.id}}">
									<p class="edit fl mr3"><img class="mr5" src=".././images/check.png">分配角色</p>
								</a>
							</b>
							<b risk:check="/ssouser/gotoChangePwd">
								<a th:href="@{'/ssouser/gotoChangePwd?id='+${user.id}}">
									<p class="edit fl mr3"><img class="mr5" src=".././images/edit.png">修改密码</p>
								</a>
							</b>
							<b risk:check="/ssouser/gotoDetail">
								<a th:href="@{'/ssouser/gotoDetail?id='+${user.id}}">
									<p class="edit fl mr3"><img class="mr5" src=".././images/edit.png">编辑</p>
								</a>
							</b>
							<b risk:check="/ssouser/delUser">
								<p class="delete fl" th:onclick="'javascript:userdel(\''+${user.id}+'\');'">
									<img class="mr5" src=".././images/delete.png">删除
								</p>
							</b>
						</div>
					</td>
				</tr>
			</table>
			<div th:include="page :: page" url="/ssouser/gotoList"></div>
		</div>
	</div>

</div>

</body>
</html>

