<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>超爱财权限服务</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div>
	<div th:replace="~{common :: top}"></div>
	<div class="main clearfix">
		<div th:replace="~{common :: left}"></div>
		<div class="nav-right fr">
			<div class="mr30 clearfix">
				<p class="mr20 fl" style="color: red">无此请求地址，请确认！</p>
			</div>
		</div>
	</div>

</div>

</body>
</html>

