<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:risk="">
<head>
    <title>超爱财权限服务</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div>
	<div th:replace="~{common :: top}"></div>
	<div class="main clearfix">
		<div th:replace="~{common :: left}"></div>
		<div class="nav-right fr">
			<div class="mr30 clearfix">
				<p class="mr20 fl">欢迎使用</p>
<!--

				<li class="two" risk:check="/role/list">
					<a href="/role/list" class="firstItem">角色2222<i></i></a>
				</li>


				<li class="two" risk:check="/ssoSystem/gotoList">
					<a href="/ssoSystem/gotoList" class="firstItem">系统<i></i></a>
				</li>-->

			</div>
		</div>
	</div>

</div>

</body>
</html>

